body > h2 {
    border-style: double;
    border-width: thick;
    text-align: center;
    padding: 1rem;
    width: 25vw;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: white;
}

body > h2:first-of-type {
    margin-top: 10rem;
}

section {
  background-color: white;
  border-style: double;
  border-width: thin;
  padding: 1rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

section:last-of-type {
  margin-bottom: 8rem;
}

p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #6E6FB1;
}
