body > h2 {
    border-style: double;
    border-width: 2.5px;
    text-align: center; 
    padding: 1rem;
    width: 25vw;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

body > h2:first-of-type {
    margin-top: 10rem;
}

p {
    font-size: 1.2rem; 
    text-align: center;
    line-height: 2rem; 
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: deeppink;
}

p:last-of-type {
    padding-bottom: 8rem;
}
