* {
    font-family: "Nexa Light", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin-left: 10vw;
    margin-right: 10vw;
}

header {
    text-align: center; 
}

header h1, header h3 {
    text-align: center; 
    background-color: lightgrey;
    padding: 1rem; 
}

header h1 img{
    width: 25%;
}

header h3 {
    margin-top: 1rem; 
    font-weight: 350; 
}

header nav {
    font-size: 1.3rem;
    margin-top: 1rem; 
}

header nav ul li {
    display: inline; 
    padding: 1rem; 
}

header nav ul li a {
    text-decoration: none;
    color: black; 
}

header nav ul li a:hover {
    color: pink;
}


