h2, p {
    text-align: center; 
}

body > h2:first-of-type {
    font-weight: 800;
}

body > h2 {
    border-style: double;
    border-width: 2.5px;
    font-weight: 500;
    padding: 1rem;
    width: 30vw;
    margin: auto;
    margin-top: 5rem;
}

article {
    margin-left: 15vw;
    margin-right: 15vw;
    padding: 1rem;
}

p {
    padding: 1rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
}

body > a {
    text-decoration: underline;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column; 
    margin: 1rem;
}

a:hover {
    color: darkblue;
}

section {
    margin-left: 15vw;
    margin-right: 15vw;
}

section img {
    width: 100%;
}

section h2 {
    background-color: #56316c;
    padding: 1rem;
    width: 25vw;
    border-radius: 1rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: white;
}

img {
    margin: 1rem;
}
