/* work page */

section {
    margin-left: 15vw; 
    margin-right: 15vw; 
}

body > h2 {
    text-align: center;
    background-color: #56316c;
    padding: 1rem;
    width: 25vw;
    border-radius: 1rem;
    margin: auto;
    margin-top: 5rem;
    color: white;
    margin-bottom: 2rem;
}

article {
    background-color: lightgrey; 
    border-radius: 1rem;
    margin: 1rem; 
    padding: 3rem; 
    padding-bottom: 4rem;
}

section h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section a {
    text-decoration: none;
    border-radius: 1rem;
    color: white;
    float: right; 
    margin-top: 1rem;
    font-weight: 900;
    background-color: #56316c;
    padding: 0.6rem;
    margin-bottom: 1rem; 
}

section a:hover {
    background: deeppink;
}
